@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

/* theme mode color variant */
@custom-variant light (&:where([class~="cupcake-mode"], [class~="cupcake-mode"] *));
@custom-variant dark (&:where([class~="dark-mode"], [class~="dark-mode"] *));
@custom-variant retro (&:where([class~="retro-mode"], [class~="retro-mode"] *));

/* ui theme */
@plugin "daisyui" {
    themes: all;
}
@layer {
    pre.shiki {
        @apply bg-accent text-gray-200 p-4 rounded-lg overflow-x-auto;
    }

    pre {
        width: fit-content;
        min-width: min(80%,350px); /* 依需求調整 */
        padding: 8px 16px; /* 適當的內邊距 */
        border-radius: 5px; /* 圓角 */
        overflow-x: auto; /* 避免太長的內容超出 */
      }
    h1,h2,h3,h4 {
        a {
            @apply text-info;
            text-decoration: none;
        }
    }
    .prose h2, .prose h3 {
        scroll-margin-top: 80px;
      }
    
}




